<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esroom">
  <select id="selectAll" resultType="esroomVo">
	select * from escapeRoom
	<if test="loc1 != null">
		where loc1 = #{loc1}
	</if>	
	<if test ="loc2 != null">
		and loc2 = #{loc2}
	</if>
	<if test="ername != null">
		and ername = #{ername}
	</if>
  </select>

  <select id="selectDetail" resultType="esroomVo">
  	select * from escapeRoom where ername = #{ername}
  </select>

	
  <select id="esroomDetail" resultType="esroomVo">
  	  select * from escapeRoom where id = #{id}
  </select>



  <insert id="insertRoom" parameterType="esroomVo">
	insert into escapeRoom values(#{loc1},#{loc2},#{ername},#{id},#{pwd},#{name},#{tel},#{email},#{room},#{fname},#{addr})
  </insert>
  
  <update id="updateRoom">
  	update escapeRoom set loc1=#{loc1},loc2=#{loc2},ername=#{ername},pwd=#{pwd},name=#{name},tel=#{tel},email=#{email},room=#{room},fname=#{fname},addr=#{addr} where id=#{id}
  </update>
  
  <delete id="deleteRoom">
  	delete escapeRoom where id=#{id}
  </delete>
    
   <select id="isMember" resultType="esroomVo">
 		select * from escapeRoom where id=#{id} and pwd=#{pwd}
 	</select>
 	 
   <select id="isMine" resultType="esroomVo">
 		select * from escapeRoom where id=#{id} and ername =#{ername}
 	</select> 
       
    
</mapper>