<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
  <select id="selTheme_res" resultType="theme_resVo">
  	select * from theme_res
  	<if test="bookdate != null and !bookdate.equals('')">
  		where bookdate = #{bookdate}
  	</if>
  	<if test="id != null and !id.equals('')">
  		and erid = #{id}
  	</if>
  </select>
  <select id="selMyRes" resultType="resVo">
  	select loc1, loc2, ername, tname, resPeople, totalPrice, payType, resCode, bookdate, booktime, r.star from reservation r, 
	(select loc1, loc2, t.ername, tname, theme_rescode, bookdate, booktime from theme t, theme_res tr, escaperoom e where t.tcode = tr.tcode and e.id=t.id) theme
	where r.theme_rescode = theme.theme_rescode and cid = #{cid}
  </select>
  <select id="selErRes" resultType="resVo">
  	select resPeople, totalPrice, payType, name, tel from reservation r, customer c where r.cid=c.id and theme_resCode=#{theme_resCode}
  </select>
  <select id="mailToCustomer" resultType="resVo">
  	select * from (select ername, tname, rescode, bookdate, booktime from theme t, theme_res tr where t.tcode=tr.tcode) t, customer c, reservation r where r.cid=c.id and r.rescode=t.rescode
  </select>
  <insert id="insertRes">
  	insert into reservation values(#{resCode},#{resPeople},#{totalPrice},#{payType},#{theme_resCode},#{cid})
  </insert>
  <update id="upTheme_res">
  	update theme_res set resCode=#{resCode} where theme_resCode=#{theme_resCode}
  </update>
  <update id="upTheme_reset">
  	update theme_res set resCode='0' where resCode=#{resCode}
  </update>
  <update id="updateStar">
  	update reservation set star=#{star} where resCode=#{resCode}
  </update>
  <delete id="deleteRes">
  	delete reservation where resCode=#{resCode}
  </delete>
</mapper>